{% extends 'blog/base.html' %} 
{% block content %} 
{% load static %}
<div
  class="container"
  style="
    background: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
  "
>
  <h1>Blog About</h1>
  <p>
    ¡Bienvenido a nuestro espacio de exploración y reflexión! 🚀 En nuestro
    blog, nos sumergimos en los temas más candentes y estimulantes del momento,
    desde los avances en la inteligencia artificial hasta las innovaciones en
    tecnología y medicina. Nos consideramos diseñadores de relato, construyendo
    historias que despiertan la curiosidad y desafían las perspectivas
    convencionales. <br />

    En nuestra plataforma, fomentamos el intercambio abierto de ideas. 💬
    Cualquier usuario es bienvenido a publicar contenido que inspire y
    enriquezca nuestra comunidad, siempre y cuando se adhiera a nuestras reglas
    de respeto y responsabilidad. Creemos en el poder del diálogo abierto y la
    diversidad de opiniones para expandir nuestros horizontes y crear un espacio
    verdaderamente inclusivo. <br />

    Únete a nosotros en este viaje intelectual mientras exploramos las fronteras
    del conocimiento y cuestionamos el statu quo. 🌍 Juntos, podemos dar forma
    al futuro a través del poder de la información, la innovación y la
    colaboración. ¡Gracias por formar parte de nuestra comunidad! 🌟
  </p>
</div>

{% endblock content %}
