{% extends 'blog/base.html' %}
{% load static %}
{% block content %} 

<div class="container">
  <div class="card">
    <h3>Membresía Premium</h3>
    <p>$99.99 al mes</p>
    <ul>
      <li>Acceso a contenido exclusivo</li>
      <li>Descuentos especiales en productos y servicios</li>
      <li>Webinars y eventos virtuales</li>
      <li>Soporte prioritario</li>
    </ul>
    <a href=""><button>Obtener Membresía</button></a>
  </div>

  <div class="card">
    <h3>Patrocinios</h3>
    <p>Desde $500 por evento</p>
    <ul>
      <li>Visibilidad en nuestras redes sociales</li>
      <li>Mención en el evento y material promocional</li>
      <li>Oportunidad de colaboración exclusiva</li>
    </ul>
    <a href=""><button>Más Información</button></a>
  </div>

</div>

{% endblock content %}
