{% extends 'blog/base.html' %}
{% load static %}
{% block content %} 
{% block conditional_content %}
<div class="containerr">
  <div class="card">
    <h3>Membresía Premium</h3>
    <p>$99.99 al mes</p>
    <ul>
      <li>Acceso a contenido exclusivo</li>
      <li>Descuentos especiales en productos y servicios</li>
      <li>Webinars y eventos virtuales</li>
      <li>Soporte prioritario</li>
    </ul>
    <a href="{% url 'membresia' %}"><button>Obtener Membresía</button></a>
  </div>

  <div class="card">
    <h3>Patrocinios</h3>
    <p>Desde $500 por evento</p>
    <ul>
      <li>Visibilidad en nuestras redes sociales</li>
      <li>Mención en el evento y material promocional</li>
      <li>Oportunidad de colaboración exclusiva</li>
    </ul>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal" >
      Más Información
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Más Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: fit-content;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Aquí va más información sobre los patrocinios.
      </div>
      <div class="modal-footer">
        <a href="{% url 'patrocinio' %}"><button style="width: 100%;">Obtener Patrocinio</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% endblock content %}
