body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 200;
    gap: 1.25rem; display: grid;
}
.card h3 {
    margin: 0;
}
.card p {
    font-size: 24px;
    color: #555;
}
.card ul {
    list-style: none;
    padding: 0;
}
.card ul li {
    margin: 10px 0;
}
.card button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.card button:hover {
    background-color: #444;
}
.deluxe {
    background: linear-gradient(to bottom right, #ffe6f0, #f2e1ff);
}
.executive {
    background: linear-gradient(to bottom right, #f9ebc1, #ffdede);
}
